<div class="checkout-wrap">
    <div class="checkout">
        <div class="head">
            <span>
                <div>PESANAN ANDA</div>
            </span>
        </div>
        <div class="main">
            <ul>
                <% orders.forEach((order, index) => { %>
                    <li data-index="<%= index %>">
                        <div><%= order.name %><% if (order.type && order.type !== 'Hot') { %> (<%= order.type %>)<% } %> x<%= order.quantity %></div>
                        <div>Rp <%= order.price * order.quantity %></div>
                        <div class="delete-order">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF">
                                <path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/>
                            </svg>
                        </div>
                    </li>
                <% }) %>
            </ul>
        </div>
        <div class="pay">
            <div class="total">
                <p>TOTAL HARGA: <span>Rp <%= total %></span></p>
            </div>
            <div id="payButton" class="pay-button <%= orders.length === 0 ? 'disabled' : '' %>">PESAN</div>
        </div>
    </div>
</div>

<!-- modal -->
<div id="orderModal" class="modal-order hidden">
    <div class="order-content">
        <span id="orderModalClose" class="order-close">&times;</span>
        <div class="order-main">
            <div class="order-title">KONFIRMASI PEMESANAN</div>
            <div class="order-list">
                <ul id="orderList">
                    <!--  -->
                </ul>
            </div>
            <div class="total">
                <div>TOTAL HARGA: Rp <span id="orderTotal"><%= total %></span></div>
                <div id="discountInfo">
                </div>
            </div>
        </div>
        <div class="confirm-button" id="confirmButton">KONFIRMASI</div>
    </div>
</div>