<div class="menu">
    <% for (let collectionName in collections) { %>
        <h2 class="nama-menu"><%= collectionName %></h2>
        <div class="menu-container">
            <% collections[collectionName].forEach(item => { %>
                <div class="item-container" data-id="<%= item._id %>" data-collection="<%= collectionName %>" onclick="openModal('<%= item._id %>', '<%= collectionName %>')">
                    <div class="image-info">
                        <img src="<%= item.image %>" alt="<%= item.name %>" class="item-image" />
                    </div>
                    <div class="item-info">
                        <h3 class="item-nama"><%= item.name %></h3>
                        <p class="item-harga">Rp <%= item.price %></p>
                    </div>
                </div>
            <% }) %>
        </div>
    <% } %>
</div>

<!-- modal -->
<div id="menuModal" class="modal-menu hidden">
    <div class="menu-content">
        <span class="menu-close" onclick="closeModal()">&times;</span>
        <h3 id="menuName"></h3>
        <img id="menuImage" src="" alt="menuName" />
        <p id="menuDescription"></p>
        <p id="menuPrice"></p>
        <div class="toggle" id="tipe">
            <p>Hot</p>
            <label class="switch">
                <input type="checkbox">
                <span class="slider"></span>
            </label>
            <p>Iced</p>
        </div>
        <div class="quantity-control">
            <button class="btn-quantity" id="decrease" onclick="updateQuantity(-1)">-</button>
            <span id="quantity" class="quantity-value">1</span>
            <button class="btn-quantity" id="increase" onclick="updateQuantity(1)">+</button>
        </div>
        <div class="beli">Tambah ke Pesanan</div>
    </div>
</div>