<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/index.css" rel="stylesheet">
    <title><%= title %></title>
</head>
<body>

    <div class="header">
        <%= title %>
    </div>

    <div class="promo">
        <!-- promo -->
    </div>

    <div class="menu">
        <% for (let collectionName in collections) { %>
            <h2 class="nama-menu"><%= collectionName %></h2>
            <div class="menu-container">
                <% collections[collectionName].forEach(item => { %>
                    <div class="item-container" data-id="<%= item._id %>" data-collection="<%= collectionName %>" onclick="openModal('<%= item._id %>', '<%= collectionName %>')">
                        <img src="<%= item.image %>" alt="<%= item.name %>" class="item-image" />

                        <div class="item-info">
                            <h3 class="item-nama"><%= item.name %></h3>
                            <!-- <p class="item-deskripsi"><%= item.description %></p> -->
                            <p class="item-harga">Rp <%= item.price %></p>
                        </div>
                    </div>
                <% }) %>
            </div>
        <% } %>
    </div>

    <!-- modal -->
    <div id="itemModal" class="modal hidden">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h3 id="modalName"></h3>
            <img id="modalImage" src="" alt="" />
            <p id="modalDescription"></p>
            <p id="modalPrice"></p>
            <div class="beli">
                Tambah ke Pesanan
            </div>
        </div>
    </div>

    <div class="footer">
        &copy; <%= title %> <%= new Date().getFullYear() %>
    </div>
    
</body>
<script src="js/index.js"></script>
</html>