<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/index.css" rel="stylesheet">
    <title><%= title %></title>
</head>
<body>

    <div class="wrap">
        <div class="right">
    
            <%- include('partials/header.ejs') %>
        
            <%- include('partials/promo.ejs') %>
        
            <%- include('partials/menu.ejs') %>
            
            
        </div>    
        <div class="left">
            
            <%- include('partials/checkout.ejs') %>
            
        </div>
    </div>
    
    <%- include('partials/coffee.ejs') %>

    <%- include('partials/footer.ejs') %>
    
</body>

<script src="js/index.js"></script>
<script src="/js/promo.js"></script>

</html>